* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

:root {
    --space-cadet: #232d4fff;
    --white: #ffffffff;
    --battleship-gray: #838483ff;
    --black: #000000ff;
}

header {
    padding: 20px;
    background-color: var(--space-cadet);
    border-bottom: 4px solid var(--black);
    text-align: center;
    color: white;
}

body {
    width: 100%;
}

.main-div {
    text-align: center;
    padding: 20px;
    background-color: var(--battleship-gray);
    border-bottom: 4px solid var(--black);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    padding: 20px;
}

main h2 {
    background-color: var(--battleship-gray);
    border-radius: 6px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

main p {
    padding: 10px;
}

.first-div {
    padding: 20px;
    border-right: 1px solid var(--battleship-gray);
}

.second-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.second-div p {
    font-weight: bolder;
}

#first-img {
    max-height: 500px;
    max-width: 200px;
    border: 1px solid black;
    margin: 10px;
}

#second-img {
    max-width: 700px;
    max-height: 500px;
    margin: 10px;
}

footer {
    background-color: var(--space-cadet);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}