* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 20px;
    margin: 20px;
    text-align: center;
}

caption {
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 20px;
}

th {
    background-color: gray;
    color: white;
    font-weight: bolder;
}

table {
    margin: 50px;
    text-align: center;
}

td, th {
    padding: 10px;
}