:root {
    --old-rose: #cc8b86ff;
    --linen: #f9eae1ff;
    --rose-taupe: #7d4f50ff;
    --dun: #d1be9cff;
    --cinereous: #aa998fff; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--linen);
    font-family: "Playfair Display", serif;
}

header {
    background-color: var(--rose-taupe);
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

header h1 {
    align-self: center;
    padding: 20px;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--cinereous);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding: 1rem;
}

nav a:hover {
    color: var(--rose-taupe);
}

main {
    display: grid;
    grid-template: 1fr auto / 2fr 1fr;
    margin: 0 30px 10px 30px;
}

.card {
    background-color: var(--linen);
    display: grid;
    margin: 50px;
    padding: 20px;
    border: solid 1px var(--rose-taupe);
    border-radius: 10px;
    min-height: auto;
}

.first-div {
    display: inherit;
    grid-template-columns: 2fr 1fr;
    margin: 10px;
    padding-bottom: 20px;
    align-items: center;
}

.second-div {
    display: inherit;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-top: solid 2px var(--cinereous);
    padding-top: 20px;
}

.third-div {
    display: inherit;
}

.card h2 {
    height: 50px;
    background-color: var(--rose-taupe);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

.card p {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    color: var(--rose-taupe);
}

.card a {
    color: var(--rose-taupe);
}

.card li {
    margin-left: 30px;
}

.card a:hover {
    color: var(--old-rose);
}

.card img {
    width: 20rem;
    max-width: 100%;
    border: 2px solid var(--dun)
}

footer {
    position: sticky;
    color: white;
    background-color: var(--rose-taupe);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}