@media screen and (min-width: 1000px) {

    nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 1rem;
    }
    
    a {
        display: flex;
        margin: 20px;
        padding: 20px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    a:hover {
        color: black;
        background-color: white;
    }

    #menu {
        display: none;
    }

    /* Enhaced Album */

    .temples-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 10px;
    }

    section {
        width: 40%;
        background-color: rgba(128, 128, 128, 0.295);
        color: black;
        padding: 20px;
        text-align: center;
        margin: 10px;
    }

    img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

}