* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Normal version */

body {
    width: 100%;
    background-color: white;
    font-family: "Roboto", serif;
}

header {
    background-color: rgb(50, 1, 117);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    color: white;
    font-weight: bold;
}

header h1 {
    position: absolute;
    left: 10px;
}

a {
    display: none;
}

main h1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

p {
    padding: 5px;
}

.open a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

.open a:hover {
    color: black;
    background-color: white;
}

#menu {
    padding: 10px;
    right: 10px;
    position: absolute;
}

#menu::before {
    content: "☰";
}

#main-h2 {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

footer {
    background-color: rgb(50, 1, 117);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}


/* Enhaced Album */

#temples-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
}

section {
    background-color: rgba(128, 128, 128, 0.295);
    border: 1px solid gray;
    color: black;
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(26, 25, 25, 0.836);
}