@media screen and (min-width: 1000px) {

    .images {
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    }

    nav {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 1rem;
    }
    
    a {
        display: flex;
        margin: 20px;
        padding: 20px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    a:hover {
        color: black;
        background-color: white;
    }

    #menu {
        display: none;
    }

}
